# Port du serveur
PORT=port

# URL du frontend (pour CORS)
FRONTEND_URL=https://url-frontend.com

# Configuration MongoDB
MONGODB_URI=mongodb_uri

# Configuration JWT
JWT_SECRET=jwt_secret
JWT_EXPIRE=jwt_expire

# Configuration Cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

# Configuration Stockage (optionnel)
DB_STORAGE_LIMIT_MB=512
CLOUDINARY_STORAGE_LIMIT_GB=25

# Configuration Email (optionnel)
EMAIL_HOST=email_host
EMAIL_PORT=port
EMAIL_USER=email
EMAIL_PASS=votre_mot_de_passe_app
