# Configuration MongoDB
MONGO_ROOT_USERNAME=mongo_username
MONGO_ROOT_PASSWORD=mongo_password
MONGO_DATABASE=mongo_database

# Configuration JWT
JWT_SECRET=cle_jwt_secret

# Configuration Cloudinary
CLOUDINARY_CLOUD_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret

# Configuration Email (SMTP)
EMAIL_HOST=email_host
EMAIL_PORT=port_email
EMAIL_USER=email
EMAIL_PASS=mot-de-passe-app

# Configuration Redis (optionnel)
REDIS_URL=redis_url

# Configuration Application
NODE_ENV=production
PORT=port
FRONTEND_URL=url_frontent
