node_modules
.env
.DS_Store
*.log
logs

# Swap files
*.swp
*.swo
*.sw?
*.swn

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Variables d'environnement
.env
.env.local
.env.production

# Node modules
node_modules/

# Builds
dist/
build/

# Certificats SSL (NE JAMAIS COMMITTER)
cloudflare-certs/
certbot/
*.pem
*.key


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
